<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Todo Detail</title>
</head>
<body>
    <header>
        <h1></h1>
    </header>

    <main>
        <div>
            <h1>{{ todolist.name }}</h1>
            <p>
        <a href="{% url 'todo_list_update' todolist.id %}">Edit</a>
            </p>
            <p>
        <a href="{% url 'todo_list_delete' todolist.id %}">Delete</a>
            </p>

            <h2>Tasks</h2>
            <table>
                <thead>
                    <tr>
                        <th>Task</th>
                        <th>Due date</th>
                    </tr>
                </thead>
                <tbody>
                    {% for todoitem in todoitems %}
                    <tr>
                        <td>{{ todoitem.task }}</td>
                        <td>{{ todoitem.due_date }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </main>
</body>
</html>
