<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Todo Items</title>
</head>
<body>
    <header>
        <h1></h1>
    </header>

    <main>
        <div>
            <h1>My Items</h1>
            <table>
                <thead>
                    <tr>
                        <th>Task</th>
                        <th>Due Date</th>
                        <th>Completed</th>
                    </tr>
                </thead>
                <tbody>
                    {% for todoitem in todoitems %}
                        <tr>
                            <td>{{ todoitem.task }}</td>
                            <td>{{ todoitem.due_date }}</td>
                            <td>{{ todoitem.is_completed }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </main>
</body>
</html>
